.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
*.secret
Pulumi.*.yaml
!Pulumi.yaml
__pycache__/
venv/
.DS_Store
